<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="MAVIA - Register, Reservation, Questionare, Reviews form wizard">
	<meta name="author" content="Ansonika">
	<title>DIGC | Online Giving </title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
<!--VUE CDN-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- BASE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
	<link href="css/skins/square/grey.css" rel="stylesheet">
	<!--axios-->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- YOUR CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">
	<link href="css/color_4.css" rel="stylesheet">

	<script src="js/modernizr.js"></script>
	<!-- Modernizr -->
<!--paystack-->
<script src="https://js.paystack.co/v1/inline.js"></script>
<!--flutterwave-->
<script type="text/javascript" src="https://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
</head>

<body style="background: url('img/bg6.gif') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover">
	<div id="app">
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<header>
		<div class="container-fluid">
		    <div class="row">
                <div class="col-3">
                    <div id="logo_home">
                        <h1><a href="index.html">DUNAMIS INTERNATIONAL GOSPEL CHURCH </a></h1>
                    </div>
                </div>
                <div class="col-9">
                    <div id="social">
                        <ul>
                            <li><a href="#0"><i class="icon-facebook"></i></a></li>
                            <li><a href="#0"><i class="icon-twitter"></i></a></li>
                            <li><a href="#0"><i class="icon-google"></i></a></li>
                            <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
                    <nav>
                        <ul class="cd-primary-nav">
                            <li><a href="index.html" class="animated_link">Home</a></li>
                            <li><a href="reservation_version.html" class="animated_link">Give</a>
                            <li><a href="about.html" class="animated_link">About Us</a></li>
                            <li><a href="contacts.html" class="animated_link">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
		</div>
		<!-- container -->
	</header>
	<!-- End Header -->

	<main>
		<div id="form_container">
			<div class="row">
				<div class="col-lg-5" >
					<div id="left_form" class="h-100 text-center" style="background-color: black; opacity: 0.9;">
						<figure><img src="img/logo.png" alt="" width="150" height="100"></figure>
						<h2>DUNAMIS ONLINE GIVING</h2>
						<a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>
						
					</div>
				</div>
				<div class="col-lg-7">

					<div id="wizard_container">
						<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form name="example-1" id="wrapped" method="POST" action="registration_send.html">
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							<div id="middle-wizard">


									<div class="step">
											<h3 class="main_question"><strong>1/4</strong>Please choose your country and currency</h3>
											
											<div class="row">	
													<div class="col">
															<div class="form-group ">
																<select id="oneRef" class="form-control" v-model="usr.country">
																	<option v-for="country in allCountries" :key="country.name">{{country.name}}</option>
													
																	
																</select>
															</div>
														</div>
											</div>


											<div class="row">
																		
																<div class="col">
																	<div class="form-group ">
																			
																		<select id="oneRef2" class="form-control" v-model="usr.currency" >
																			<option :value="country.currencies[0].code" v-for="country in allCountries" >{{country.currencies[0].code +"-"+country.currencies[0].name}}</option>
																		</select>
																	</div>
																</div>
							
																
											</div>
															
						
																
																
										
										</div>
										<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>2/4</strong>Please select your giving type</h3>
									<div class="btn-group">
										  </div>

										  <div class="pt-3">
				
				<div >
											  
													<div class="row">
																
															<div class="col">
																<div class="form-group ">
																		
																	<select id="oneRef" class="form-control" v-model="usr.giveType" required>
																		<option value="">select giving type</option>
																		<option value="tithe" >Tithe</option>
																		<option value="offering">Offering</option>
																		<option value="donation">Donation</option>
																	</select>
																</div>
															</div>
													</div>

													<div class="row">
															<div class="col-6">
																<div class="form-group">
																		<label for="oneTel">Amount</label>
																		<div class="input-group">
																			<span class="input-group-addon">{{usr.currency}}</span>
																			<input type="number" placeholder="000.000" value="" min="0" step="0.01"  class="currency form-control" id="c1" v-model="usr.amount" required />
																</div>
																	</div> 
																</div>	
															</div>
													
													
												
			</div>			
		</div>
								</div>
										<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>2/4</strong>Please select your payment method</h3>
									<div class="btn-group">
										  </div>

										  <div class="pt-3">
				
				<div >
											  
													<div class="row">
															<div class="col" :class="[isPayFlutter? 'bg-secondary':'']" @click="selectedPay(1)">
																 <img src="img/flw2.png" class="c_img" >																
															</div>
															<div class="col" v-if="isAvailableMerchant()" :class="[isPayPaystack? 'bg-secondary':'']" @click="selectedPay(2)">
																<img src="img/paystack.png" class="c_img" >
															</div>
													</div>

													
													
												
			</div>			
		</div>
								</div>
								<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>3/4</strong>Please fill with your details</h3>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="firstname" v-model="usr.firstname" class="form-control" placeholder="First name" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="lastname" v-model="usr.lastname" class="form-control" placeholder="Last name" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="address" v-model="usr.address" class="form-control" placeholder="Address" required>
											</div>
										</div>
									</div>
									<!-- /row -->

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="email" name="email" v-model="usr.email" class="form-control" placeholder="Your Email" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="telephone" class="form-control" placeholder="Your Telephone" v-model="usr.phone" required>
											</div>
										</div>
										<div class="form-group terms">
												<input name="terms" type="checkbox" class="required" value="yes">
												<label>Please accept <a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a> ?</label>
											</div>	 
									
									<!-- /row -->

									<!-- <div class="row">
									
										<div class="col-md-6">
											<div class="form-group radio_input">
												<label><input type="radio" value="Male" checked name="gender" class="icheck">Male</label>
												<label><input type="radio" value="Female" name="gender" class="icheck">Female</label>
											</div>
										</div>
									</div> -->
									<!-- /row -->
								</div>
								<!-- /step-->

								</div>
								<!-- /step-->

								<!-- /step-->
								
								<div class="submit step">
										<table class="table table-hover table-sm">
												<thead>
												 <strong>Payment Overview</strong>
												</thead>
												<tbody>
												  <tr>
													<td scope="row">Give</th>
													<td>{{usr.reference}}</td>
												
												  </tr>
												  <tr>
													<td scope="row">Telephone</th>
													<td>{{usr.phone}}</td>
												  </tr>
												  <tr>
													<td scope="row">Country</th>
													<td colspan="2">{{usr.country}}</td>
													
												  </tr>
												  <tr>
														<td scope="row">Currency</th>
														<td colspan="2">{{usr.currency}}</td>
														
													  </tr>
												
												</tbody>
											  </table>	
											  
										<table class="table table-hover table-sm">
												<thead><strong>Billing Information</strong></thead>
												<tbody>
												  <tr>
													<td scope="row">Fullname</td>
													<td>{{fullname}}</td>
												  </tr>
												  <tr>
													<td scope="row">Address</td>
													<td>{{usr.address}}</td>
												  </tr>
												  <tr>
														<td scope="row">Email</td>
														<td>{{usr.email}}</td>
													  </tr>
												</tbody>
											  </table>	
											   
								</div>
								<!-- /step-->


							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Backward </button>
								<button type="button" name="forward" class="forward">Next</button>
								<button type="button" @click.prevent="isPayPaystack?paystackapp():raveapp()" name="process" class="submit">Pay</button>
							</div>
							<!-- /bottom-wizard -->
						</form>
					</div>
					<!-- /Wizard container -->
				</div>
			</div><!-- /Row -->
		</div><!-- /Form_container -->
	</main>
	
	<footer id="home" class="clearfix">
		<p>© 2019 Dunamis Gospel International, All rights reserved</p>
		<ul>
			<li><a href="#" class="animated_link">Home</a></li>
			<li><a href="#0" class="animated_link">Terms and conditions</a></li>
			<li><a href="#0" class="animated_link">Contacts</a></li>
		</ul>
		<a href="#" data-toggle="modal" ref="paymentRes" data-target="#paymentresponse"></a>
	</footer>
	<!-- end footer-->
	</div>
	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
	
	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- Modal payment -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Payment Response</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p></p>
					<p><strong></strong></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- Modal info -->
	<div class="modal fade" id="more-info" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="more-infoLabel">Frequently asked questions</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- SCRIPTS -->
	<!-- Jquery-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Common script -->
	<script src="js/common_scripts_min.js"></script>
	<!-- Wizard script -->
	<script src="js/registration_wizard_func.js"></script>
	<!-- Menu script -->
	<script src="js/velocity.min.js"></script>
	<script src="js/main.js"></script>
	<!-- Theme script -->
	<script src="js/functions.js"></script>
	<script src="js/vueapp.js"></script>
	<script src="js/paystackapp.js"></script>

</body>
</html>